# Ensure sensitive YAML files are ignored
ip_bans.yaml
**/secrets.yaml
known_devices.yaml
html5_push_registrations.conf

# Ignore folders
.storage
.cloud
.google.token
image

# Exclude databases, log files
home-assistant.log**
home-assistant_v2.db
zigbee.db
