---
- id: front_door_knock_alert
  alias: "Front door knock alert"
  description: Send a mobile notification when there's a knock at the front door
  trigger:
    - type: vibration
      platform: device
      device_id: 81e4796fa22469337eea2584075b75ef
      entity_id: binary_sensor.front_door_knock_sensor_ias_zone
      domain: binary_sensor
  condition:
    - condition: time
      after: '06:00'
      before: '22:00'
  action:
    - choose:
        - conditions:
            - condition: zone
              entity_id: person.ian
              zone: zone.home
          sequence:
            - service: notify.mobile_app_ian_s_pixel_6
              data:
                message: "There’s someone at the door"
                title: Knock knock!
                data:
                  group: knock-knock
                  tag: front-door-knock-sensor-triggered
                  channel: Knock-knock
                  importance: high
                  priority: high
                  timeout: 300
                  ttl: 0
      default: []
    - service: notify.html5notifier
      data:
        message: "There’s someone at the door"
        title: Knock knock!
        data:
          tag: front-door-knock-sensor-triggered
          priority: high
          ttl: 180
    - delay:
        hours: 0
        minutes: 3
        seconds: 0
        milliseconds: 0
    - service: notify.mobile_app_ian_s_pixel_6
      data:
        title: ''
        message: clear_notification
        data:
          group: knock-knock
          tag: front-door-knock-sensor-triggered
          channel: Knock-knock
    - service: html5.dismiss
      data:
        data:
          tag: front-door-knock-sensor-triggered
  mode: single
- id: hugo_button_1
  alias: 'Hugo button 1 action'
  description: Play Radio 4 on kitchen speaker
  trigger:
    - platform: device
      domain: mqtt
      device_id: 91a89bf42d37a580f65a2623cfe51135
      type: button_short_press
      subtype: button_1
      discovery_id: hugo_670E5B button1
  condition: []
  action:
    - service: media_player.turn_on
      target:
        entity_id: media_player.kitchen
    - choose:
        - conditions:
            - condition: time
              before: '07:30'
              after: '23:00'
          sequence:
            - service: media_player.volume_set
              target:
                entity_id: media_player.kitchen
              data:
                volume_level: 0.3
      default: []
    - service: media_player.play_media
      target:
        entity_id: media_player.kitchen
      data:
        media_content_id: 'My Live Radio/BBC Radio 4'
        media_content_type: music
  mode: single
- id: hugo_button_2
  alias: 'Hugo button 2 action'
  description: Play 6 Music on kitchen speaker
  trigger:
    - platform: device
      domain: mqtt
      device_id: 91a89bf42d37a580f65a2623cfe51135
      type: button_short_press
      subtype: button_2
      discovery_id: hugo_670E5B button2
  condition: []
  action:
    - service: media_player.turn_on
      target:
        entity_id: media_player.kitchen
    - choose:
        - conditions:
            - condition: time
              before: '07:30'
              after: '23:00'
          sequence:
            - service: media_player.volume_set
              target:
                entity_id: media_player.kitchen
              data:
                volume_level: 0.3
      default: []
    - service: media_player.play_media
      target:
        entity_id: media_player.kitchen
      data:
        media_content_id: 'My Live Radio/BBC Radio 6 Music'
        media_content_type: music
  mode: single
- id: hugo_button_3
  alias: 'Hugo button 3 action'
  description: Play Heart on kitchen speaker
  trigger:
    - platform: device
      domain: mqtt
      device_id: 91a89bf42d37a580f65a2623cfe51135
      type: button_short_press
      subtype: button_3
      discovery_id: hugo_670E5B button3
  condition: []
  action:
    - service: media_player.turn_on
      target:
        entity_id: media_player.kitchen
    - choose:
        - conditions:
            - condition: time
              before: '07:30'
              after: '23:00'
          sequence:
            - service: media_player.volume_set
              target:
                entity_id: media_player.kitchen
              data:
                volume_level: 0.3
      default: []
    - service: media_player.play_media
      target:
        entity_id: media_player.kitchen
      data:
        media_content_id: 'My Live Radio/Heart London'
        media_content_type: music
  mode: single
- id: hugo_button_4
  alias: 'Hugo button 1 action'
  description: Play Fun Kids on kitchen speaker
  trigger:
    - platform: device
      domain: mqtt
      device_id: 91a89bf42d37a580f65a2623cfe51135
      type: button_short_press
      subtype: button_4
      discovery_id: hugo_670E5B button4
  condition: []
  action:
    - service: media_player.turn_on
      target:
        entity_id: media_player.kitchen
    - choose:
        - conditions:
            - condition: time
              before: '07:30'
              after: '23:00'
          sequence:
            - service: media_player.volume_set
              target:
                entity_id: media_player.kitchen
              data:
                volume_level: 0.3
      default: []
    - service: media_player.play_media
      target:
        entity_id: media_player.kitchen
      data:
        media_content_id: 'My Live Radio/Fun Kids Radio'
        media_content_type: music
  mode: single
- id: hugo_button_5
  alias: 'Hugo button 5 (1+2) action'
  description: Play Radio X on kitchen speaker
  trigger:
    - platform: device
      domain: mqtt
      device_id: 91a89bf42d37a580f65a2623cfe51135
      type: button_short_press
      subtype: button_5
      discovery_id: hugo_670E5B button5
  condition: []
  action:
    - service: media_player.turn_on
      target:
        entity_id: media_player.kitchen
    - choose:
        - conditions:
            - condition: time
              before: '07:30'
              after: '23:00'
          sequence:
            - service: media_player.volume_set
              target:
                entity_id: media_player.kitchen
              data:
                volume_level: 0.3
      default: []
    - service: media_player.play_media
      target:
        entity_id: media_player.kitchen
      data:
        media_content_id: 'My Live Radio/Radio X London'
        media_content_type: music
  mode: single
- id: hugo_button_6
  alias: 'Hugo button 6 (2+3) action'
  description: Play Radio Paradise on kitchen speaker
  trigger:
    - platform: device
      domain: mqtt
      device_id: 91a89bf42d37a580f65a2623cfe51135
      type: button_short_press
      subtype: button_6
      discovery_id: hugo_670E5B button6
  condition: []
  action:
    - service: media_player.turn_on
      target:
        entity_id: media_player.kitchen
    - choose:
        - conditions:
            - condition: time
              before: '07:30'
              after: '23:00'
          sequence:
            - service: media_player.volume_set
              target:
                entity_id: media_player.kitchen
              data:
                volume_level: 0.3
      default: []
    - service: media_player.play_media
      target:
        entity_id: media_player.kitchen
      data:
        media_content_id: 'My Live Radio/Radio Paradise: Main mix'
        media_content_type: music
  mode: single
- id: hugo_button_7
  alias: 'Hugo button 7 (3+4) action'
  description: Play Heart 90s on kitchen speaker
  trigger:
    - platform: device
      domain: mqtt
      device_id: 91a89bf42d37a580f65a2623cfe51135
      type: button_short_press
      subtype: button_7
      discovery_id: hugo_670E5B button7
  condition: []
  action:
    - service: media_player.turn_on
      target:
        entity_id: media_player.kitchen
    - choose:
        - conditions:
            - condition: time
              before: '07:30'
              after: '23:00'
          sequence:
            - service: media_player.volume_set
              target:
                entity_id: media_player.kitchen
              data:
                volume_level: 0.3
      default: []
    - service: media_player.play_media
      target:
        entity_id: media_player.kitchen
      data:
        media_content_id: 'My Live Radio/Heart 90s'
        media_content_type: music
  mode: single
