# Add placeholder variables corresponding to those in secrets.yaml here, for config check CI
email_address: "placeholder"
vapid_prv_key: "placeholder"
vapid_pub_key: "placeholder"
mariab_addon_homeassistant_url: "mysql://username:password@core-mariadb/database?charset=utf8"