---
esphome:
  name: spare-bedroom-sensor

esp8266:
  board: d1_mini

# Enable logging
logger:

# Enable Home Assistant API
api:

ota:
  password: "78150e450003a332afc0e95d024d7619"

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Spare-Bedroom-Sensor"
    password: !secret fallback_hotspot_password

captive_portal:

# Enable I2C interface
i2c:

# Add proprietary Bosch BSEC library for IAQ
bme680_bsec:
  address: 0x77 # Sensor is at default I2C address (for Adafruit BME688)

sensor:
  - platform: bme680_bsec
    temperature:
      name: "Spare bedroom temperature"
      accuracy_decimals: 2
    pressure:
      name: "Spare bedroom pressure"
      accuracy_decimals: 1
    humidity:
      name: "Spare bedroom humidity"
      accuracy_decimals: 1
    iaq:
      name: "Spare bedroom indoor air quality"
    co2_equivalent:
      name: "Spare bedroom CO2 equivalent"
    breath_voc_equivalent:
      name: "Spare bedroom breath VOC equivalent"

text_sensor:
  - platform: bme680_bsec
    iaq_accuracy:
      name: "Spare bedroom IAQ accuracy"
